.header{
    height: var(--header-height);
    
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 var(--container-padding);

    background-color: var(--surface-light);

    border-bottom: 1px solid var(--border-light);
}

.header-left,
.header-center,
.header-right{
    display: flex;
    align-items: center;
}

.header-left{
    flex: 1;
}

.header-center{
    flex: 1;
    justify-content: center;
    
}

.header-right{
     flex: 1;
    justify-content: flex-end;
    gap: var(--space-3);
}

.page-title{
    display:flex;
    flex-direction:column;
}

.page-title h1{
    font-size: var(--text-2xl);
    font-weight: var(--font-bold);
}

.page-title p{
    font-size: var(--text-sm);
    color: var(--text-secondary-light);
}