/* ==========================================
   CSS RESET
========================================== */

/* Reset general */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Document */

html {
    font-size: 16px;
    scroll-behavior: smooth;
}


/* Body */

body {
    min-height: 100vh;
    font-family: var(--font-family);
    background-color: var(--background-light);
    color: var(--text-primary-light);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}


/* Images */

img,
picture,
svg {
    display: block;
    max-width: 100%;
}


/* Forms */

input,
button,
textarea,
select {
    font: inherit;
}


/* Buttons */

button {
    background: none;
    border: none;
    cursor: pointer;
}


/* Links */

a {
    color: inherit;
    text-decoration: none;
}


/* Lists */

ul,
ol {
    list-style: none;
}


/* Tables */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Inputs */

input:focus,
textarea:focus,
select:focus {
    outline: none;
}